# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/main.js
dist/main.js.map

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

/assets
